body
{
    padding: 0;
    margin: 0;
    font-size : 16px;
    font-family: 'Kumbh Sans', sans-serif;
}

/* Heading */

#head
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-style: none none ridge none;
    flex-wrap: wrap;
    padding: 0.5em;
    padding-bottom: 1.4em;
    margin: 1em;
}
.logo
{
    width: 15%;
    min-width: 138px;
}
.list_item
{
    width: 65%;
    display: flex;
    
}
.hd_list
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hd_item
{
    float: left;
    margin: 0.12em 0.6em;
}

/* header's ending part */
.hd_end
{
    /* margin-left: 32rem;
    position: relative; */
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.end_img
{
    height: 32px;
    width: 32px;
    margin: 0 10px;
}

.usr_cart
{
    display:none;
    position: absolute;
    box-shadow: 1px 1px 1px 1px rgba(129, 115, 115, 0.5);
    background-color: white;
    right: 0.5em;
    width: 15em;

}

/* Responsive Design */

@media screen and (max-width: 1000px) {
       .list_item
       {
           width: 60%;
       }
       .logo
       {
           width: 20%;
       }
}
@media screen and (max-width: 1000px) {
    .list_item
    {
        width: 55%;
    }
    .logo
    {
        width: 20%;
    }
}


