@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;700&display=swap');
html, body{
    min-height: 100%;
    height: auto;
}

body
{
    padding: 0 2.5rem;
    margin: 0;
    font-size : 16px;
    font-family: 'Kumbh Sans', sans-serif;
}

/* Heading */

#head
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-color: rgb(255, 255, 255);
    border-style: none none ridge none;
    flex-wrap: wrap;
    padding-bottom: 1.4em;
    margin: 1em;
}
.menuBtn
{
    display: none;
    flex-grow: 0.3;
    padding: auto;
}
.menuBtn button{
    background-color: white;
    border: 0 white;
}
.logo
{
    /* width: 15%; */
    flex-grow: 2;
    min-width: 138px;
}
.list_item
{
    /* width: 65%; */
    display: flex;
    flex-grow: 8;
}
.hd_list
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hd_item
{
    float: left;
    margin: 0.12em 0.6em;
}

/* header's ending part */
.hd_end
{
    /* margin-left: 32rem;
    position: relative; */
    /* width: 20%; */
    flex-grow: 0.5;
    display: flex;
    align-items: center;
    justify-content: end;
}
.end_img
{
    height: 32px;
    width: 32px;
    margin: 0 10px;
}

.usr_cart
{
    display: none;
    position: absolute;
    /* box-shadow: 1px 1px 1px 1px rgba(171, 154, 154, 0.5); */
    background-color: white;
    right: 0.5em;
    width: 15em;
    top: 4rem;
    right: 2rem;
    border-radius: 3%;
    padding: 1rem;
    box-shadow: 0 1rem 2rem rgb(191, 181, 181);
}

.usr_cart h4 
{
    font-weight: 700;
    font: bolder;
}
.usr_cart div{
    border-top: 1px solid;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.usr_cart div h4{
    margin: 0;
    font-weight: 400;
}

#mobileMenu{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100%;
    width: 95vw;
    background-image: linear-gradient(to right,rgba(0,0,0,0),rgba(0,0,0,0.7));
    /* backdrop-filter: drop-shadow(8px 8px 10px black);  */
}
.backdrop{
    display: flex;
    z-index: 1;
    position: absolute;
    padding: 1.5rem;
    flex-direction: column;
    height: 100%;
    width: 60%;
    text-align: left;
    /* backdrop-filter: blur(5px); */
    background-color: white;
    top: 0;
    left: 0;
    opacity: 1;
}
#close{
    flex-grow: 0.21;
}
#mobMenuList{
    flex-grow: 2;
}
/* Responsive Design */

@media screen and (max-width: 570px)
{
    body{
        padding: 0;
    }
}

/* Main Body */

.mainBody{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    padding: 1rem;
    width: 90%;
    margin: 3rem auto 0;
    /* justify-content: center; */
    /* align-items: center; */
}

/* Responsive Design */

@media screen and (max-width: 570px)
{
    .mainBody{
        flex-direction: column;
        padding: 0;
    }
}

/* Main Body : Left */

.mainBL
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    flex-direction: column;
    flex-grow: 6;
}
.bigImg{
    padding: 1rem;
    width: 80%;
}

.bigImg{
    display: flex;
    justify-content: center;
}
.bigImg div img{
    height: 33vw;
    width: 33vw;
    margin: auto;
    border-radius: 7%;
}

.smallImgs
{
    display: flex;
    padding: 1rem;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: row;
}
.smallImgs img{
    height: 6vw;
    width: 6vw;
    border-radius: 7%;
}
/* Main Body : Right */

.mainBR{
    display: flex;
    padding: 4.5vw; /* 6rem */
    justify-items: center;
    flex-direction: column;
    flex-grow: 6;
}

.BRHead h4{
    font-size: 12pt;
    font-weight: 600;
    color: hsl(26, 100%, 55%);
    margin: 1rem 0;
    font-family: 'Kumbh Sans', sans-serif;
}
.BRHead h1{
    font-size: 32pt;
    margin: 1rem 0;
    font-weight: 700;
    font-family: 'Kumbh Sans', sans-serif;
}

.BRMain p{
    font-weight: 400;
    line-height: 1.7;
    color: hsla(183, 100%, 14%, 0.904);
    font-family: 'Kumbh Sans', sans-serif;
}

.pricing{
    display: flex;
    margin: 1rem 0 1.5rem;
    height: 5vw;
    justify-content: space-around;
    flex-direction: column;
}
.pricing #p1{
    display: flex;
    align-items: center;
    width: 35%;
}
.pricing #p1 #p11{
    font-size: 20pt;
    font-weight: 700;
    flex-grow: 1;
    font-family: 'Kumbh Sans', sans-serif;
}
.pricing #p1 #p12{
    flex-grow: 0.5;
    font-weight: 700;
    text-align: center;
    padding: 0.1rem;
    color:  hsl(25, 88%, 41%);
    background-color: rgb(244, 235, 235);
}

.pricing #p2{
    color: hsla(183, 100%, 14%, 0.904);    
    text-decoration: line-through;
}

.items_quant{
    display: flex;
    padding: 2rem 0;
    width: 80%;
    justify-content: space-between;
    flex-direction: row;
}
.qaunt_count{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.addToCart{
    text-align: center;
    flex-grow: 1;
}
.addToCart Button{
    background-color: hsl(48, 89%, 46%);
    color: white;
    font-size: 11pt;
    font-weight: 700;
    font-family: 'Kumbh Sans', sans-serif;
    padding: 0.7rem 0.7rem;
    border-radius: 7%;
    width: 100%;
    text-align: center;
    border: 0;
    box-shadow: 0 1rem 2rem rgb(139, 133, 133);

}
.qaunt_count Button{
    border: 0;
    background-color: white;
}